
<main-layout [sectionTitle]="'Buscador de productos'">

    <div class="p-pruduct-search">

        <div *ngIf="greetingMessage" class="p-pruduct-search__greeting-message">{{ greetingMessage }}</div>

        <input class="p-pruduct-search__search-input" placeholder="Buscar productos" [(ngModel)]="searchTerm">

        <div class="p-pruduct-search__grid">
            <product-search-item [product]="product" *ngFor="let product of products | filterProducts:searchTerm"></product-search-item>
        </div>

    </div>

</main-layout>